setuptools==78.1.1
matplotlib==3.9.4
networkx==3.2.1
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
pandas==2.2.3
pillow==11.2.1
pyparsing==3.2.3
pyqt5==5.15.11
scikit-image==0.24.0
scipy==1.13.1
tqdm==4.67.1